<!DOCTYPE html>
<html lang="en">
<head>
  <title>Peak Finder</title>

  <script src="./libraries/vue.js"></script>
  <script src="audio.js"></script>
  <script src="./libraries/plotly.min.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <meta name="description" content="A tool for identifying peaks in Audacity's Frequency Spectrum" />
</head>
<body>

  <div id="root">
    <div class="container">

      <div id="title">
        <h1>Audacity Peak Finder</h1>
        <h3>Identify Peaks in Audacity's Frequency Spectrum</h3>
      </div>

      <p>In Audacity, use the cursor to select the sound snippet that you want to analyze. Select <i>Analyze</i> > <i>Plot Spectrum</i>. Set the 'Size' (i.e. spectrum resolution) to the desired value and then export the data by pressing the Export button.</p>

      <p>When you're done, export the file with a .txt extension and upload it here.</p>

      <div class="centerbox">

        <div class="tooltip">
          <!-- file reader using this tutorial: https://alligator.io/vuejs/file-reader-component/ -->
          <!-- tooltip styling from https://www.w3schools.com/css/css_tooltip.asp -->
          <label class="text-reader">
            <span class="tooltiptext">Upload Text File from Audacity</span>
            Upload File
            <input type="file" @change="loadTextFromFile">
          </label>
        </div>
      </div>

    </div>

      <div v-if="text">
        <div class="container">

        <h2>Frequency Spectrum</h2>

        <p>Use the settings below to adjust the frequency spectrum and peak detection parameters as needed, so you're left with only the peaks you're interested in.</p>
        </div>

        <div id="graph">

          <div id="sliders">

            <div>
              <h3>Minimum Frequency (Hz)</h3>
              <p><input v-model.numer="minFreq" debounce="500"></p>

              <h3>Maximum Frequency (Hz)</h3>
              <p><input v-model.numer="maxFreq" debounce="500"></p>

              <h3>Sensitivity: {{slopeCutoff}}</h3>
              <p><input type="range" min="0" max="10" step="0.1" v-model.number="slopeCutoff" debounce="500"></p>

              <h3>Smoothing: {{smoothing}}</h3>
              <p><input type="range" min="0" max="2" step="1" v-model.number="smoothing" debounce="500"></p>

              <h3>Minimum Loudness (dB)</h3>
              <p><input v-model.numer="minLoudness" debounce="500"></p>

              <div class="tooltip">
              <!-- The button used to copy the text https://www.w3schools.com/howto/howto_js_copy_clipboard.asp  -->
                <button @click="playTone">
                  <span class="tooltiptext">Play Sound Synthesized Using These Peaks</span>
                  Synthesize Sound
                </button>
              </div>

            </div>
          </div>

          <div>
            <graph :traces="[spectrumTrace, peakTrace]" :layout="layout"></graph>
          </div>

        </div>



      </div>

      <div v-if="peaks.freq.length > 0">
        <div class="container">

          <h2>Table of Peaks</h2>

          <p>The table below lists all the peaks extracted from the frequency spectrum (i.e., the red dots in the graph above).</p>

          <div class="tooltip">
          <!-- The button used to copy the text https://www.w3schools.com/howto/howto_js_copy_clipboard.asp  -->
            <button @click="copyTable" @mouseout="outFunc">
              <span class="tooltiptext" id="myTooltip">Copy Table to Clipboard</span>
              Copy Table
            </button>
          </div>

          <table id="dataTable">
          <tr>
            <th>Frequency (Hz)</th>
            <th>Loudness (dB)</th>
            <!--<th>Closest Piano Note</th>-->
          </tr>
          <tr v-for="peak in peakTable">
            <td>{{peak.freq}}</td>
            <td>{{peak.amp}}</td>
          </tr>
          </table>
        </div>
      </div>

  </div>

  <!-- page code -->
  <script src="vue-definitions.js"></script>

</body>
</html>