<!DOCTYPE html>
<html lang="en">
<head>
  <title>Peak Finder</title>

  <script src="./libraries/vue.js"></script>
  <script src="./libraries/plotly.min.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <meta name="description" content="An explorable toy model of Earth's climate." />
</head>
<body>

  <div id="root" class="container">

    <div id="title">
      <h1>Audacity Peak Finder</h1>
      <h3>Find Peaks from Audacity's Frequency Spectrum</h3>
    </div>

    <p>In Audacity, use the cursor to select the sound snippet that you want to analyze. Select <i>Analyze</i> > <i>Plot Spectrum</i>. Set the 'Size' (i.e. spectrum resolution) to the desired value and then export the data by pressing the Export button.</p>

    <p>When you're done, export the file with a .txt extension and upload.</p>

    <div class="centerbox">

      <div class="tooltip">
        <!-- file reader using this tutorial: https://alligator.io/vuejs/file-reader-component/ -->
        <!-- tooltip styling from https://www.w3schools.com/css/css_tooltip.asp -->
        <label class="text-reader">
          <span class="tooltiptext">Upload Text File from Audacity</span>
          Upload File
          <input type="file" @change="loadTextFromFile">
        </label>
      </div>
    </div>

    <div v-if="text">
      <h2>Graph of Frequency Spectrum</h2>

      <graph :traces="[spectrumTrace, peakTrace]" :layout="layout"></graph>

      <p>Minimum Frequency (Hz): <input v-model.numer="minFreq" debounce="500"></p>
      <p>Maximum Frequency (Hz): <input v-model.numer="maxFreq" debounce="500"></p>

      <p>Sensitivity of Peak Detection: Low <input type="range" min="0" max="10" step="1" v-model.number="slopeCutoff" debounce="500"> High ({{slopeCutoff}})</p>

    </div>

    <div v-if="peaks.freq.length > 0">
      <h2>Table of Peaks</h2>

      <div class="tooltip">
      <!-- The button used to copy the text https://www.w3schools.com/howto/howto_js_copy_clipboard.asp  -->
        <button @click="copyTable" @mouseout="outFunc">
          <span class="tooltiptext" id="myTooltip">Copy Table to Clipboard</span>
          Copy Table
        </button>
      </div>

      <table id="dataTable">
      <tr>
        <th>Frequency (Hz)</th>
        <th>Loudness (dB)</th>
        <!--<th>Closest Piano Note</th>-->
      </tr>
      <tr v-for="peak in peakTable">
        <td>{{peak.freq}}</td>
        <td>{{peak.amp}}</td>
      </tr>
      </table>

    </div>

  </div>


  <!-- page code -->
  <script src="vue-definitions.js"></script>

</body>
</html>